<!-- <div class="permissionPrivilege">HospIT-all</div> -->

<style>
    .policy-logo {
        display: flex;
        gap: 1rem;
        align-items: center;

    }


    h1,
    h2,
    h3 {
        letter-spacing: -0.5px;
        font-weight: 600;
    }
</style>

<div class="terms-title  py-2">
    <div class="container-fluid">
        <div class="policy-logo">
            <img src="../../../../../assets/img/khata-logo-name.png" width="100px" />
            <div class="slogan"></div>
        </div>

    </div>
</div>

<div style="border-bottom: 1px solid #f6872f;"></div>
<div class="page__content-wrapper">
    <div class="container">
        <div>
            <h1 class="privacy-title mb-4 mt-2"> Terms & Conditions</h1>
        </div>

        <div class="terms-body">
            <h3>Acceptance of Terms</h3>
            <p> By accessing or using the accounting software ("Khata Web App"), you agree to be bound by these
                Terms
                and Conditions. If you do not agree with any part of these Terms and Conditions, please refrain from
                using the Software.</p>


            <h3> License</h3>
            <p> The Software is licensed, not sold, to you for use strictly in accordance with the terms of this
                agreement. The license is non-exclusive, non-transferable, and revocable. You may not sublicense,
                distribute, or lease the Software to any third party.</p>

            <h3> Intellectual Property</h3>
            <p> All intellectual property rights in the Software, including but not limited to copyrights,
                trademarks,
                and trade secrets, belong to the software provider. You may not remove, alter, or obscure any
                copyright
                notices or proprietary information displayed or embedded in the Software.</p>

            <h3> Use of Software</h3>
            <p> You may use the Software for your internal accounting purposes only. You are responsible for the
                accuracy and legality of the data entered into the Software. You agree not to use the Software for
                any
                unlawful, fraudulent, or malicious activities.
            </p>
            <h3> Data Security and Privacy</h3>
            <p> The software provider implements reasonable security measures to protect your data. However, it is
                your
                responsibility to ensure the confidentiality and security of your login credentials and any
                sensitive
                information you input into the Software.</p>

            <h3> Support and Maintenance</h3>
            <p> The software provider may offer support and maintenance services for the Software. The availability,
                scope, and terms of support and maintenance will be specified separately and may be subject to
                additional fees.</p>

            <h3> Limitation of Liability</h3>
            <p> The software provider shall not be liable for any direct, indirect, incidental, special, or
                consequential damages arising out of or in connection with the use or inability to use the Software,
                including but not limited to lost profits, loss of data, or business interruption.</p>

            <h3> Termination</h3>
            <p> The software provider may terminate your access to the Software at any time without prior notice if
                you
                violate these Terms and Conditions. Upon termination, you must cease all use of the Software and
                destroy
                any copies in your possession.</p>

            <h3> Governing Law and Jurisdiction</h3>
            <p> These Terms and Conditions shall be governed by and construed in accordance with the laws of
                [Jurisdiction]. Any disputes arising out of or in connection with these Terms and Conditions shall
                be
                subject to the exclusive jurisdiction of the courts.</p>

            <h3> Modifications </h3>
            <p> The software provider reserves the right to modify these Terms and Conditions at any time. Updated
                terms
                will be posted on the software provider's website. Continued use of the Software after the
                modifications
                constitutes your acceptance of the updated Terms and Conditions.</p>

        </div>
    </div>
</div>