*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: $primary-font-size;
  font-family: 'Inter', sans-serif;
  background-color: #edf2f3;
  overflow-x: hidden;
  color: #414345 !important;
  height: 100%;
  margin: 0;
  padding: 0;

}
// .root-layout{
//   background: #ececec;

// }
.content-wrapper {
  width: calc(100% - 51px);
  margin-left: 51px;
  margin-top: 3px;
}

.content-wrapper.active {
  width: calc(100% - 254px);
  margin-left: 254px;
  margin-top: 3px;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.page__content-wrapper {
  padding: 1rem .5rem;
  overflow-y: hidden;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  --bs-gutter-x: .5rem !important;
}

.Gap-10 {
  gap: 10px;
}

.Gap-5 {
  gap: 5px;
}

//scrollbar
::-webkit-scrollbar {
    width: 6px;
    opacity: 1 !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $primary-600 !important;
    border-radius: 10px;
     opacity: 1 !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px $primary-600 !important;
     opacity: 1 !important;
}

.page-head-bar {
  background: $primary-500;
  color: #fff;
  padding: 4px 0;
  border-radius: 5px 5px 0 0;
}

.page-head-bar h1 {
  font-size: 14px;
  margin-bottom: 0px;
}

#close_counter_modal i.fa-book {
  color: #fff;
}

.btn-default {
  background: #ddd;
  border: 1px solid #cfcfcf;
}

.custom__input {
  padding: 1px 6px !important;
  font-size: 12px !important;
}

.form-control {
  line-height: 1.7 !important;
}


.custom__input-container {
  position: relative;
}

.custom__input-container label {
  position: absolute;
  left: 4%;
  top: 0%;
  background: #fff;
  padding: 0px 3px;
  color: #3b3b3b;
  font-size: 10px;
  font-weight: 500;
  transform: translateY(-50%);
  z-index: 10000000;
}

.loading{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.85;
  z-index: 10000000000;
}