.w-80 {
    width: 80%;
}

.flex-wrap {
    flex-wrap: wrap;
}


/*hms-input start*/
.hms-input {
    display: flex;
}

.flex-input {
    flex: 0 0 30%;
}

.hms-input-block {
    display: block !important;
}

.filterContainer .hms-input {
    display: block;
}

/*hms-input end*/


.h-menu li {
    font-size: 11.5px;
}


.w3-bar--padd {
    padding: 1rem 0 0 1.2rem;
}

.btn-cicle {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background: #5AA3B5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterContainer .hms-input {
    margin-bottom: 0;
}

.hms-form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}



.hms-form-row>.ng-star-inserted {
    flex: 0 0 auto;
    width: 16.66666667%;
    padding: 0 15px;
}




/*checkbox start*/

input[type="checkbox"] {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 0;
    flex: 0 0 20px;
    /* Define the border color */
    border: 1px solid #ced4da;

    margin: 0;
    padding: 0;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    box-shadow: none !important;
    outline: 0 !important;
    outline-offset: 0 !important;
}

/* Style for the checkmark */
input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

/* Style for checked state */
input[type="checkbox"]:checked::before {
    background-color: #137B95;
    /* Keep the checkmark white when checked */
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 12px;
    color: #fff;
    height: 20px;
    width: 20px;
    flex: 0 0 20px;
    padding-left: 3px;
}

input[type=checkbox],
input[type=radio] {
    border: 1px solid #ced4da !important;
}


input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: none;
    outline: none;
}



input[type=checkbox]~label {
    position: inherit;
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    margin-left: 1rem;
}

/*checkbox start end*/

.labbutton input[type=checkbox]~label,
.labbutton--custom input[type=checkbox]~label {
    position: initial;
}

.labbutton--custom {
    align-items: center;
    display: flex;
}


