@media only screen and (max-width: 1200px) {
  .contentContainer {
    display: block;
  }



}

@media only screen and (max-width: 992px) {}


@media only screen and (max-width: 767px) {
  .fotter_all {
    flex-direction: column;
    padding-right: 23px;
    padding-left: 10px;
  }
}


@media only screen and (max-width: 576px) {}