.card-container {

    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}


.dashboard-card {
    display: flex;
    gap: 1rem;
    border: 1px solid #f0f0f0;
    padding: 1.5rem;
    border-radius: 4px;
    background: #fff;

    i {
        display: flex;
        font-size: 20px;
        border-radius: 50%;
        padding: 10px;
        border-radius: 100%;
        height: 48px;
        width: 48px;
        color: #fff;
        justify-content: center;
        align-items: center;
    }
}



.dashboard-card-body {
    flex: 1;

    h4{
        color: #797979;
        font-weight: 500;
    }
    p{
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0;
        letter-spacing: -.5px;
    }
}

.fa-money-bill{
    background-color: #F0B992;
}

.fa-shopping-cart{
    background-color: #82BD92;
}

.fa-university{
    background-color: #FFC0CA;
}

.fa-money-bill-wave{
    background-color: #91B5F0;
}


.transaction-table{
    padding: 1rem
}


.transaction-inner{
    padding: 1rem;
    background: #fff;
}

.transaction-table .table__body td{
    padding: 3px 1rem;
}
//tabs

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tabs button {
  padding: 6px 18px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  cursor: pointer;
  border-radius: 4px;
}

.tabs button.active {
  background: $primary-500;
  color: #fff;
  border-color: $primary-500;
}
//tabs end

