.sales__form-box,
.sales__footer-box {
    background: #fff;
    padding: 6px 8px;
    border: 1px solid #ddd;
}

.button__plus {
    outline: none;
    border: none;
    border-radius: 50%;
    background: $primary-500;
    color: #fff;
    height: 20px;
    flex: 0 0 20px;
    font-size: 10px;
    line-height: 20px;
text-align:center;
}

.input-gap {
    gap: 2px;
}

.select-wrap {
    width: 100%;
}

.customer-details__container {
    background: #F5F5F5;
    padding: 4px;
    border: 1px solid #ddd;
    color: #333;

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            font-size: 11px;
            font-weight: 600;
        }
    }

}

.bill-total__container {
    background: #F5F5F5;
    padding: 4px;
    border: 1px solid #ddd;
    color: #333;
    height: 100%;

    h6 {
        font-size: 1.25rem !important;
    }
}



.sales-summary__top,
.sales-summary__bottom {
    background: #fff;
    border: 1px solid #ddd;
}

.sales-summary__bottom h6,
.sales-summary__top h6 {
    font-size: 11px;
    color: #000;
    text-align: start;
    font-weight: 700;
}

.sales-summary__bottom label {
    font-size: 11px;

}

.summary-display__box {
    background: #eee;
    border: 1px solid #dddc;
    padding: 2px 3px 0px;
    color: #424242;
    font-size: 13px;
}

.heading__box {
    background: $primary-500;
    color: #fff;
    font-size: 13px;
    padding: 3px 5px;
    text-align: center;
    margin: 0;
}

#sales-main-table__body {
    max-height: 218px;
    overflow-y: auto;
}

.table__container thead th {
    background: $primary-500;
    color: #fff;
    position: sticky;
    top: -1px;
    text-align: center;
    font-weight: normal;
    z-index: 1;
    font-size: 12px;
    border-right: 1px solid #1493b3;
}

.sales-main-table__foot {
    position: sticky;
    left: 0;
    bottom: 0;

    td {
        background: $primary-500;
        color: #fff;
    }
}

.sales__footer-container * {
    font-size: 12px;
}

.btn-success {
    color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.btn-container {
    display: flex;
    gap: 4px;
}

.customer-legder-content {
    padding: 0px 12px 12px;
    border: 1px solid #ddd;
}


.btn-search-wrap {
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;

}

.pos-bar-right i {
    cursor: pointer;
}

//fullscreen

.fullscreen-pos .page__header,
.fullscreen-pos .navigation-overlay,
.fullscreen-pos .navigation,
.fullscreen-pos .fotter_all {
    display: none !important;
}

.fullscreen-pos .content-wrapper {
    margin-left: 4px;
    width: 100%;
}

.fullscreen-pos .table__wrapper-40 {
    height: 58vh;
    max-height: 58vh;
}

//fullscreen end

//calcular

.calc-box {
    width: 260px;
    height: 460px;
    background: #1d1c27;
    padding: 14px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: white;
}

.calc-display {
    background: #b7ceb7;
    overflow-x: scroll;
    padding: 18px;
    font-size: 28px;
    text-align: right;
    margin-bottom: 15px;
    border-radius: 8px;
    color: black;
}

.calc-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.calc-row button {
    flex: 1;
    font-size: 14px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2f2e3c;
    color: white;
    cursor: pointer;
}

.calc-row button:active {
    transform: scale(0.92);
}

/* Special Buttons */
.btn-off {
    background: #6a5acd;
}

.btn-func {
    background: #4c4b61;
}

.btn-ac,
.btn-equal {
    background: #ff9b50;
    color: black;
}

.btn-op {
    background: #4c4b61;
}

.transaction-content-tbl {
    width: 100%;
}

.transaction-content-tbl th,
.transaction-content-tbl td {
    padding: 4px;
    border-bottom: 1px solid #ccc;
}

.calc-wrapper {
    display: flex;
    gap: 20px;
}

.calc-history {
    min-width: 180px;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}

.history-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-history-clear {
    background: red;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    border: none;
}

.history-item {
    padding: 4px 0;
    border-bottom: 1px solid #ddd;
}

.history-panel {
    max-height: 260px;
    overflow-y: scroll;
}

//calcular end



.customPopupContainer .transaction-content-tbl tr:nth-child(even) td {
    background-color: #fff !important;

}