.product-creation {
    background: #fff;
    padding: 8px;
    border: 1px solid #ddd;

}

.table-wrapper {
    position: relative;
    overflow-y: scroll;
    height: 140px;
    max-height: 140px;
    width: 100%;
    scroll-behavior: smooth;
    border: 1px solid #ddd;

    &__head {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;

        th {
            background-color: $primary-500 !important;
            color: $color-white-100 !important;
            letter-spacing: 0.5px;
            font-size: 11px;
            font-weight: 500;
            text-align: center;
            vertical-align: middle;
        }

        th:not(last-child) {
            border-right: 1px solid $th-border;
        }
    }
}

.table-wrapper-72 {
    height: 72px;
    max-height: 72px;
}

.closeIcon-product-group {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    background: $primary-500;
    cursor: pointer;
    z-index: 100;

    i {
        color: #fff;
    }

    &:hover {
        background: $primary-600;

    }
}
.customPopup-product-group{
    overflow: initial;
}




// Report css
// body {
//   margin: 0;
//   font-family: Arial, Helvetica, sans-serif;
//   background: #f5f5f5;
// }

.details-card {
  background: #ffffff;
//   border-top: 4px solid #1aa3b3; /* teal top line */
  padding: 20px 30px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two main columns */
  column-gap: 80px;
}

.rowData {
  display: grid;
  grid-template-columns: 160px auto; /* label | value */
  margin-bottom: 10px;
}

.labelData {
  font-weight: bold;
  color: #000;
}

.valueData {
  color: #444;
}