.page-head-bar__button {
    height: 25px;
    width: 25px;
    background: #1c8eab;
    border: 1px solid #1c8eab;
    border-radius: 1000px;
    color: #fff
}

.sales-summary__bottom .d-flex.align-items-center {
    margin-bottom: 8px;
}


.button-info-color {
    background: $accent-500;
    color: #fff;
    transition: all .2s ease;
}

.button-info-color:hover {
    color: #fff;
    background: $primary-500;
}