.terms-body {

    ul,
    p {
        margin-bottom: 24px;
    }

    h2,
    h3 {
        margin-bottom: 1rem;
    }
}

.privacy-title {
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    padding-top: 6px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width: 100%;
        background: #a3a3a3;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: #a3a3a3;
    }
}