<div class="page-head-bar">
    <div class="container-fluid">
        <div class="row align-items-center flex-wrap">
            <div class="col-9">Product Model</div>
            <div class="col-3">
                <div class="buttons-wrapper d-flex justify-content-end Gap-5">
                    <button class="btn btn-success button-sm"><i class="fa-solid fa-file-pdf"></i></button>
                    <button class="btn button-info button-sm"><i class="fa-solid fa-file-csv"></i></button>

                    <button class="btn btn-danger button-sm"><i class="fa-solid fa-print"></i></button>
                    <div class="plus-btn" (click)="toggleForm()">

                        <i class="fa-solid " [ngClass]="showForm ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="page-body">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <div class="" id="sales-form-container">
                    <form class="">
                        <div class="container-fluid pt-0 px-1 pb-1">
                            <div class="sales__form-box m-2 pb-2 " *ngIf="showForm">

                                <div class="row">
                                    <div class=" col-sm-4 col-md-3 col-lg-2">
                                        <div class="custom__input-container d-flex align-items-center">
                                            <input id="groupName" type="text" class="form-control custom__input"
                                                autocomplete="off">
                                            <label>Model</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                        <div class="d-flex gap-1">
                                            <div class="col-10">
                                                <div class="custom__input-container">
                                                    <select class="input-field custom__input  w-100 req"
                                                        id="groupUnder">
                                                        <option>test1</option>
                                                        <option>test2</option>
                                                    </select>
                                                    <label>Brand</label>
                                                </div>
                                            </div>
                                            <div class="col-1" style="justify-content: center; align-items: center;margin: 12px;">

    <div class="plus-btn d-flex justify-content-center align-items-center p-2" style="color: white;">

     <i class="fa-solid fa-plus"></i>
 </div>


                                            </div>
                                        </div>

                                    </div>


                                    <div class=" col-sm-4 col-md-3 col-lg-3">
                                        <div class="custom__input-container d-flex align-items-center">
                                            <input id="groupRemarks" type="text" class="form-control custom__input"
                                                autocomplete="off">
                                            <label>Remarks</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-2">

                                        <div class="custom__input-container">
                                            <select class="input-field custom__input  w-100 req" id="groupStatus">
                                                <option value="1">Active</option>
                                                <option value="0">InActive</option>
                                            </select>
                                            <label>Status</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 col-lg-1">
                                        <div class="custom__input-container d-flex align-items-center">
                                            <button id="button1" class="button-sm btn btn-success ms-1"
                                                title="Insert Item">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>


                                            <button class="button-sm btn btn-danger ms-1" title="Reset"
                                                id="salesBtn_refresh" href="">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="filter sales__form-box m-2 pb-2">
                                <div class="row d-flex justify-content-between">
                                    <div class=" col-sm-4 col-md-3 col-lg-2">
                                        <div class="custom__input-container d-flex align-items-center">
                                            <input id="groupRemarks" type="text" class="form-control custom__input"
                                                autocomplete="off">
                                            <label>Search</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table__wrapper  table__wrapper-40 table_xxl-65 mt-3">
                                        <table class="table" style="height: 300px;">
                                            <thead class="table__head">
                                                <tr>
                                                    <th class="sales-main-table__sn">S.N.</th>
                                                    <th class="sales-main-table__item">Model</th>
                                                    <th class="sales-main-table__qty">Brand</th>
                                                    <th class="sales-main-batch">Remarks</th>
                                                    <th class="sales-main-expirydate">Status</th>
                                                    <th class="sales-main-table__action">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table__body" id="sales-main-table__body">
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
