<div class="page-head-bar">
    <div class="container-fluid">
        <div class="row align-items-center flex-wrap">
            <div class="col-9">Supply</div>
            <div class="col-3">
                <div class="buttons-wrapper d-flex justify-content-end Gap-5">
                    <button class="btn btn-success button-sm"><i class="fa-solid fa-file-pdf"></i></button>
                    <button class="btn button-info button-sm"><i class="fa-solid fa-file-csv"></i></button>

                    <button class="btn btn-danger button-sm"><i class="fa-solid fa-print"></i></button>
                    <div class="plus-btn" >

                        <i class="fa-solid "></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
