<div class="page-head-bar">
    <div class="container-fluid">
        <div class="row align-items-center flex-wrap">
            <div class="col-3">
                <h1>POS</h1>
            </div>
            <div class="col-3">
                <h1 style="text-align:left;">Counter: <span id="counterNo" style="font-size:14px;"></span></h1>
            </div>
            <div class="col-3">
                <h1 style="text-align:left;"> Store: <span id="storeName" style="font-size:14px;"></span> </h1>
            </div>

            <div class="col-3">
                <div class="pos-bar-right d-flex gap-3 justify-content-end">
                    <div title="Full Screen" id="fullScreen"><i class="fas fa-expand"></i></div>
                    <div (click)="print()" title="View"><i class="fa-solid fa-eye"></i></div>
                    <div (click)="cashTransactionPop()" title="Cash Transaction"><i class="fa-solid fa-money-bill"></i>
                    </div>
                    <div title="Calculator" (click)="calculatorPopup()"><i class="fa-solid fa-calculator"></i></div>

                    <div title="Download" class="buttons-wrapper d-flex justify-content-end Gap-5">
                        <button class="btn btn-success button-sm ms-1" id="btn_getDraft">
                            <i class="fa-solid fa-download"></i>
                        </button>
                        <button id="close_counter_modal" type="button" title="Close Counter"
                            class="btn button-info btn-sm">
                            <i class="fa-solid fa-book"></i>
                        </button>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

<div class="page-body">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <div class="" id="sales-form-container">
                    <form class="">
                        <div class="container-fluid pt-0 px-1 pb-1">
                            <div class="sales__form-box  py-1 mt-2">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select class="input-field custom__input w-100 req">
                                                            <option *ngFor="let item of salesLedgerList"
                                                                [value]="item.value">
                                                                {{ item.text }}
                                                            </option>
                                                        </select>


                                                        <label>Sales Ledger</label>
                                                    </div>
                                                    <!-- <button class=" button__plus ms-1">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button> -->
                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select id="modeSelect"
                                                            class="input-field custom__input  w-100 req">
                                                            <option value="cash">Cash</option>
                                                            <option value="credit">Credit</option>
                                                        </select>

                                                        <label>Mode</label>
                                                    </div>

                                                </div>
                                            </div>



                                            <!-- 
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select class="input-field custom__input  w-100 req">
                                                            <option></option>
                                                        </select>

                                                        <label>Pricing Level</label>
                                                    </div>
                                                    <button class=" button__plus ms-1">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div> -->


                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="customer-details__container">
                                            <ul>
                                                <li>
                                                    <span>Name:</span>
                                                    <span id="ledgerName"></span>
                                                </li>
                                                <li>
                                                    <span>Address:</span>
                                                    <span id="address"></span>
                                                </li>
                                                <li>
                                                    <span>PAN:</span>
                                                    <span id="pan"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class=" col-lg-3">
                                        <div class="bill-total__container">
                                            <div class="row">

                                                <h6 style="text-align:center;">
                                                    Bill Total</h6>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sales__form-box pb-2">
                                <div class="row">
                                    <div class="col-md-7 col-lg-5">
                                        <div class="row">
                                            <div class=" col-sm-4 col-md-3 col-lg-3">
                                                <div class="custom__input-container d-flex align-items-center">
                                                    <input [(ngModel)]="productCode" name="productCode" id="productCode"
                                                        type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>Product Code</label>
                                                    <button type="button" id="" class="btn button-sm button-info ms-1">
                                                        <i class="fa-solid fa-info"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-5">

                                                <div class="custom__input-container">
                                                    <select id="productSelect"
                                                        class="input-field custom__input w-100 req"
                                                        data-placeholder="--Choose--">
                                                        <option value=""></option>
                                                        <option *ngFor="let item of productList"
                                                            [value]="item.productId">
                                                            {{ item.productName }}
                                                        </option>
                                                    </select>


                                                    <label>Product Name</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="custom__input-container">
                                                    <select id="batchSelect" class="input-field custom__input w-100 req"
                                                        data-placeholder="--Choose--">
                                                        <option value=""></option>
                                                        <!-- <option value="" disabled selected>Choose</option> -->
                                                        <option *ngFor="let item of batch" [value]="item.batch">
                                                            {{ item.batch }} [ {{ item.qty }} {{ item.skuunit }}]
                                                        </option>
                                                    </select>
                                                    <label>Batch</label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-lg-3">
                                                <div class="custom__input-container">
                                                    <select id="selecUnit" class="input-field custom__input w-100 req"   data-placeholder="--Choose--">
                                                        <option value=""></option>
                                                        <option *ngFor="let item of unit" [value]="item.fromUnitId">
                                                            {{ item.mainunit }}
                                                        </option>
                                                    </select>

                                                    <label>Unit</label>

                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input [(ngModel)]="rate" id="rate" type="text" name="Rate" autocomplete="off"
                                                        class="form-control custom__input" >
                                                    <label>Rate</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-2">
                                                <div class="custom__input-container ">
                                                    <input name="vat" [(ngModel)]="vat" id="vat" type="text"
                                                        autocomplete="off" class="form-control custom__input" >
                                                    <label>Vat</label>
                                                </div>
                                            </div>


                                            <div class=" col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input id="" type="text" autocomplete="off"
                                                        class="form-control custom__input">
                                                    <label>Qty()</label>
                                                </div>
                                            </div>


                                            <div class="col-sm-4 col-md-3 col-lg-1">
                                                <div class="custom__input-container">
                                                    <input type="number" id="" required=""
                                                        class="form-control custom__input" autocomplete="off">
                                                    <label>Dis.%</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input type="number" id="" required=""
                                                        class="form-control custom__input" autocomplete="off">
                                                    <label>Dis Amt</label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class=" col-sm-4 col-md-3 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-9">
                                                <div class="custom__input-container">
                                                    <input type="number" id="" required=""
                                                        class="form-control custom__input" autocomplete="off">
                                                    <label>Net Total</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div class="custom__input-container d-flex align-items-center">
                                                    <button id="" class="button-sm btn btn-success ms-1"
                                                        title="Insert Item">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>


                                                    <button class="button-sm btn btn-danger ms-1" title="Reset"
                                                        id="salesBtn_refresh" href="">
                                                        <i class="fa-solid fa-rotate-left"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="table__wrapper  table__wrapper-40 table_xxl-65 mt-3">
                            <table class="table">
                                <thead class="table__head">
                                    <tr>
                                        <th class="sales-main-table__sn">S.N.</th>
                                        <th class="sales-main-table__item">Product Name</th>
                                        <th class="sales-main-table__qty">Qty</th>
                                        <th class="sales-main-batch">Batch</th>
                                        <th class="sales-main-expirydate">ExpiryDate</th>
                                        <th class="sales-main-table__unit">Unit</th>
                                        <th class="sales-main-table__rate">Rate</th>
                                        <th class="sales-main-table__dis-amt">Dis Amt</th>
                                        <th class="sales-main-table__taxable">Taxable</th>
                                        <th class="sales-main-table__non-tax">Non-Tax</th>
                                        <th class="sales-main-table__tax">Tax</th>
                                        <th class="sales-main-table__total">Net Amt</th>
                                        <th class="sales-main-table__action">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table__body" id="sales-main-table__body">
                                    <!-- ngRepeat: item in LoadSalesMasterDetails -->
                                </tbody>

                                <tfoot class="sales-main-table__foot ">
                                    <tr>
                                        <td></td>
                                        <td>Total</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="sales__footer-container">

                            <div class="row">
                                <div class="col-12">
                                    <div class="sales__footer-box h-100">
                                        <div class="row">

                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select id="customerSelect"
                                                            class="input-field custom__input w-100 req">
                                                            <option value="">Select Customer</option>
                                                            <option *ngFor="let item of customerList"
                                                                [value]="item.value">{{item.text}}</option>
                                                        </select>


                                                        <label>Customer</label>
                                                    </div>
                                                    <button (click)="customerPopup()" class=" button__plus ms-1">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class=" col-sm-3 col-md-3 col-lg-3">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select class="input-field custom__input  w-100 req">
                                                            <option></option>
                                                        </select>

                                                        <label>Additional Income</label>
                                                    </div>
                                                    <button class=" btn btn-success button-sm mx-1">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <select class="input-field custom__input  w-100 req" id="" disabled>
                                                        <option></option>
                                                    </select>
                                                    <label>Dis. Type/Scheme</label>

                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-1">
                                                <div class="custom__input-container">
                                                    <select class="input-field custom__input  w-100 req" id="" disabled>
                                                        <option></option>
                                                    </select>
                                                    <label>Bill Dis.%</label>

                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input id="salesQty" ng-model="salesQty" type="number" required=""
                                                        class="form-control custom__input ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"
                                                        autocomplete="off" value="1.00">
                                                    <label>Bill Dis Amt</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-1">
                                                <div class="custom__input-container">
                                                    <input id="salesQty" ng-model="salesQty" type="number" required=""
                                                        class="form-control custom__input ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"
                                                        autocomplete="off" value="1.00">
                                                    <label>Bill Adj Amt</label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="sales__footer-box">
                                        <div class="row">

                                            <div class="col-sm-4 col-md-3 col-lg-2">

                                                <div class="custom__input-container">
                                                    <select class="input-field custom__input  w-100 req" id="" disabled>
                                                        <option></option>
                                                    </select>
                                                    <label>Received Ledger</label>

                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-3 col-lg-2">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select class="input-field custom__input  w-100 req">
                                                            <option></option>
                                                        </select>

                                                        <label>Amount</label>
                                                    </div>
                                                    <button class=" btn btn-success button-sm ms-1">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                    <button class=" btn btn-success button-sm mx-1">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </button>
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="custom__input-container">
                                                    <textarea id="" type="text" rows="1"
                                                        class="form-control custom__input " autocomplete="off" disabled>
                                                    </textarea>
                                                    <label>Narration</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-2 col-lg-1">
                                                <div class="custom__input-container">
                                                    <input id="" type="number" class="form-control custom__input "
                                                        autocomplete="off" disabled>
                                                    <label>Tender</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-2 col-lg-1">
                                                <div class="custom__input-container">
                                                    <input id="" type="number" class="form-control custom__input "
                                                        disabled>
                                                    <label>Change</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-md-3 d-flex align-items-center">
                                                <div class="row">

                                                    <div class=" col-sm-6">

                                                        <div class="btn-container">

                                                            <button id="btn_saveDraft" type="button"
                                                                class="btn btn-sm btn-success button-edit"
                                                                title="Save As Draft" disabled>
                                                                <i class="fa-regular fa-bookmark"></i>
                                                            </button>
                                                            <button id="salesSaveBtn" type="button"
                                                                class="btn  btn-sm btn-success button-edit" title="Save"
                                                                disabled>
                                                                <i class="fa-solid fa-floppy-disk"></i>
                                                            </button>
                                                            <a class="btn  btn-sm btn-danger button-style-fix"
                                                                title="Refresh" id="refreshPage" href="">
                                                                <i class="fa-solid fa-rotate-left"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-2">
                        <div class="sales-summary__bottom py-1 px-1">
                            <h6>Bill Summary</h6>
                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">GrossAmount:</label>
                                <input type="text" id="" class="summary-display__box w-50">
                            </div>
                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Item Dis:</label>
                                <input type="text" id="" class="summary-display__box w-50">
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Bill Dis:</label>
                                <input type="text" id="" class="summary-display__box w-50">
                            </div>


                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Total addition Inc:</label>
                                <input type="text" id="" class="summary-display__box w-50">
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Non Taxable Amt:</label>
                                <input type="text" id="" class="summary-display__box w-50">
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Taxable Amt:</label>
                                <input type="text" id="" class="summary-display__box w-50">
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Tax/Vat Amt:</label>
                                <input type="text" id="" class="summary-display__box w-50">
                            </div>


                            <h4 class="heading__box mt-1">Transaction Summary</h4>
                            <div class="table__container" id="" style="max-height: 28vh!important; margin-top: 5px;">
                                <table class="table" style="overflow-y:scroll;">
                                    <thead>
                                        <tr>
                                            <th style="width:55%;">Ledger</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ngRepeat: item in salesTransactionLists -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!--  Popup -->
<div [hidden]="!IscustomerPopup">
    <div class="customPopupContainer" (click)="closecustomerPopup()">
        <div (click)="$event.stopPropagation()" class="customPopup customPopup-md-hgt-90 customPopup-md-80"
            [ngClass]="modalAnimationClass">
            <div class="customPopupHeader"><span>Customer Ledger</span>
                <span class="closeIcon" (click)="closecustomerPopup()">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>
            <div class="modal-body p-4">

                <div class="tabs-wrap">
                    <div class="tabs">
                        <button (click)="tab = 'main'" [class.active]="tab === 'main'">Main Details</button>

                        <button (click)="tab = 'secondary'" [class.active]="tab === 'secondary'">Secondary
                            Details</button>

                    </div>

                    <div class="modal-content customer-legder-content">
                        <!-- TAB CONTENT -->
                        <form class="">
                            <div [hidden]="tab === 'main'">
                                <div class="container-fluid pt-0 px-1 pb-1">
                                    <div class="pos__form-box  py-1 mt-2">

                                        <div class="row">
                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>Name</label>
                                                </div>
                                            </div>
                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>Opening Balance</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-1">
                                                <div class="custom__input-container">
                                                    <select class="input-field custom__input w-100 req">
                                                        <option value=""></option>
                                                    </select>
                                                    <label>Dr</label>

                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                                <div class="custom__input-container ">
                                                    <textarea style="height: 28px;" name="" id=""
                                                        class="input-field custom__input w-100 req"></textarea>
                                                    <label>Narration</label>

                                                </div>
                                            </div>

                                            <div
                                                class="col-6 col-sm-4 col-md-4 col-lg-2 d-flex align-items-center justify-content-center">
                                                <input name="" id="" type="checkbox" class="" autocomplete="off">
                                                <label>Is Active</label>
                                            </div>

                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select class="input-field custom__input w-100 req">
                                                            <option value="">Customer</option>
                                                        </select>
                                                        <label>Group</label>
                                                    </div>
                                                    <button class=" button__plus ms-1">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-4 col-md-4 col-lg-2">
                                                <div class="custom__input-container d-flex align-items-center">
                                                    <select class="input-field custom__input  w-100 req" id="">
                                                        <option value=""></option>

                                                    </select>

                                                    <label>Ledger Type</label>


                                                </div>
                                            </div>
                                            <div
                                                class="col-6 col-sm-4 col-md-4 col-lg-2 d-flex align-items-center justify-content-center">
                                                <input name="" id="" type="checkbox" class="" autocomplete="off">
                                                <label>Is Public</label>
                                            </div>
                                            <div
                                                class="col-6 col-sm-4 col-md-4 col-lg-2 d-flex align-items-center justify-content-center">
                                                <input name="" id="" type="checkbox" class="" autocomplete="off">
                                                <label>AllowPurchaseSales</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div [hidden]="tab === 'secondary'">
                                <div class="container-fluid pt-0 px-1 pb-1">
                                    <div class="pos__form-box  py-1 mt-2">

                                        <div class="row">
                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>
                                                        Mailing Name</label>
                                                </div>
                                            </div>
                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>Address</label>
                                                </div>
                                            </div>

                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>Phone Contact</label>
                                                </div>
                                            </div>

                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>Mobile</label>
                                                </div>
                                            </div>

                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>Email</label>
                                                </div>
                                            </div>
                                            <div
                                                class="col-6 col-sm-4 col-md-4 col-lg-2 d-flex align-items-center justify-content-center">
                                                <input name="" id="" type="checkbox" class="" autocomplete="off">
                                                <label>Bill by Bill:</label>
                                            </div>



                                            <div class="col-6 col-sm-4 col-md-4 col-lg-2">
                                                <div class="custom__input-container">
                                                    <select class="input-field custom__input w-100 req">
                                                        <option value=""></option>
                                                    </select>
                                                    <label>Route</label>

                                                </div>
                                            </div>

                                            <div class=" col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input name="" id="" type="text" class="form-control custom__input"
                                                        autocomplete="off">
                                                    <label>PAN</label>
                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                                <div class="custom__input-container ">
                                                    <textarea style="height: 28px;" name="" id=""
                                                        class="input-field custom__input w-100 req"></textarea>
                                                    <label>Bank Details</label>

                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                                <div class="custom__input-container ">
                                                    <textarea style="height: 28px;" name="" id=""
                                                        class="input-field custom__input w-100 req"></textarea>
                                                    <label>Other Info</label>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="btns-group justify-content-end d-flex mt-4 gap-2">
                                <button type="button" id="" class=" button button--small button--success">
                                    <i class="fa fa-save me-2"></i>Save
                                </button>
                                <button type="button" id="" class=" button button--small button--danger">
                                    <i class="fa-solid fa-arrows-rotate"></i> Reset
                                </button>
                            </div>

                        </form>

                        <div class=" mt-3 pt-3 btn-search-wrap">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                <div class="custom__input-container">
                                    <select class="input-field custom__input w-100 req">
                                        <option value=""></option>
                                    </select>
                                    <label>Group</label>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                                <div class="searchContainer">
                                    <input autocomplete="off" class="input-field w-100" type="text" name="search"
                                        id="searchMyteamOrg" placeholder="Search..." />
                                </div>
                            </div>
                        </div>

                        <div class="table__wrapper table__wrapper-30 table_xxl-40 mt-3">
                            <table class="table">
                                <thead class="table__head">
                                    <tr>
                                        <th>S.N.</th>
                                        <th> Ledger Name</th>
                                        <th>Group</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>PAN</th>
                                        <th>Opening Balance</th>
                                        <th>Public</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table__body">
                                    <tr>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- POS Calculator Popup -->
<div [hidden]="!IsCalculatorPopup">
    <div class="customPopupContainer" (click)="closeCalculatorPopup()">
        <div (click)="$event.stopPropagation()" class="calc-box">

            <!-- Display -->
            <div class="calc-display">
                {{ display }}
            </div>

            <!-- ======= HISTORY BUTTONS ROW (MATCHED STYLE) ======= -->
            <div class="calc-row">
                <button class="btn-func" (click)="toggleHistory()">HIS</button>
                <button class="btn-func" (click)="clearHistory()">CLR HIS</button>
            </div>
            <div [hidden]="isNumShow">
                <!-- Top Buttons -->
                <div class="calc-row">
                    <button class="btn-off" (click)="closeCalculatorPopup()">OFF</button>
                    <button class="btn-func" (click)="percentage()">%</button>
                    <button class="btn-func" (click)="del()">DEL</button>
                    <button class="btn-ac" (click)="clear()">AC</button>
                </div>


                <!-- Number + Operators Grid -->
                <div class="calc-row">
                    <button (click)="press('7')">7</button>
                    <button (click)="press('8')">8</button>
                    <button (click)="press('9')">9</button>
                    <button class="btn-op" (click)="press('+')">+</button>
                </div>

                <div class="calc-row">
                    <button (click)="press('4')">4</button>
                    <button (click)="press('5')">5</button>
                    <button (click)="press('6')">6</button>
                    <button class="btn-op" (click)="press('-')">-</button>
                </div>

                <div class="calc-row">
                    <button (click)="press('3')">3</button>
                    <button (click)="press('2')">2</button>
                    <button (click)="press('1')">1</button>
                    <button class="btn-op" (click)="press('*')">*</button>
                </div>

                <div class="calc-row">
                    <button (click)="press('0')">0</button>
                    <button (click)="press('.')">.</button>
                    <button class="btn-equal" (click)="calculate()">=</button>
                    <button class="btn-op" (click)="press('/')">/</button>
                </div>

            </div>

            <!-- ======= HISTORY BOX (SLIDES BELOW CALCULATOR) ======= -->
            <div class="history-panel" *ngIf="showHistory">
                <div class="history-item" *ngFor="let h of history">
                    {{ h }}
                </div>
            </div>

        </div>
    </div>
</div>



<div [hidden]="!isCashTransactionPop">
    <div class="customPopupContainer" (click)="closeCashTransactionPop()">
        <div (click)="$event.stopPropagation()" class="customPopup customPopup-md-hgt-40 customPopup-md-30"
            [ngClass]="cashTransactionAnimation">

            <div class="customPopupHeader">
                <span>Cash Transaction Summary</span>
                <span class="closeIcon" (click)="closeCashTransactionPop()">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>

            <div class="modal-body p-4">
                <div class="modal-body p-4">
                    <div class="transaction-content">
                        <table class="transaction-content-tbl">
                            <thead>
                                <tr>
                                    <th style="width: 120px;">Initial Amount</th>
                                    <td>:</td>
                                    <td>Rs20,000</td>
                                </tr>

                                <tr>
                                    <th>Cash</th>
                                    <td>:</td>
                                    <td>Rs15,000</td>
                                </tr>
                                <tr>
                                    <th>Credit</th>
                                    <td>:</td>
                                    <td>Rs20,000</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td>:</td>
                                    <td>Rs 55,000</td>
                                </tr>

                            </thead>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>