<div class="page-head-bar">
    <div class="container-fluid">
        <div class="row align-items-center flex-wrap">
            <div class="col-3">
                <h1>POS</h1>
            </div>
            <div class="col-3">
                <h1 style="text-align:left;">Counter: <span id="counterNo" style="font-size:14px;"></span></h1>
            </div>
            <div class="col-3">
                <h1 style="text-align:left;"> Store: <span id="storeName" style="font-size:14px;"></span> </h1>
            </div>

            <div class="col-3">
                <div class="pos-bar-right d-flex gap-3 justify-content-end">
                    <div title="Full Screen" id="fullScreen"><i class="fas fa-expand"></i></div>
                    <div (click)="print()" title="View"><i class="fa-solid fa-eye"></i></div>
                    <div (click)="cashTransactionPop()" title="Cash Transaction"><i class="fa-solid fa-money-bill"></i>
                    </div>
                    <div title="Calculator" (click)="calculatorPopup()"><i class="fa-solid fa-calculator"></i></div>

                    <div title="Download" class="buttons-wrapper d-flex justify-content-end Gap-5">
                        <button class="btn btn-success button-sm ms-1" id="btn_getDraft">
                            <i class="fa-solid fa-download"></i>
                        </button>
                        <button id="close_counter_modal" type="button" title="Close Counter"
                            class="btn button-info btn-sm">
                            <i class="fa-solid fa-book"></i>
                        </button>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

<div class="page-body">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <div class="" id="sales-form-container">
                    <form class="">
                        <div class="container-fluid pt-0 px-1 pb-1">
                            <div class="sales__form-box  py-1 mt-2">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select [disabled]="isDisabled" id="salesLedger"
                                                            data-placeholder="--Choose--"
                                                            class="input-field custom__input w-100 req">
                                                            <option value="">

                                                            </option>
                                                            <option *ngFor="let item of salesLedgerList"
                                                                [value]="item.value">
                                                                {{ item.text }}
                                                            </option>
                                                        </select>


                                                        <label>Sales Ledger</label>
                                                    </div>
                                                    <!-- <button class=" button__plus ms-1">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button> -->
                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select [disabled]="isDisabled" id="modeSelect"
                                                            data-placeholder="--Choose--"
                                                            class="input-field custom__input  w-100 req">
                                                            <option value=""></option>
                                                            <option value="1">Cash</option>
                                                            <option value="0">Credit</option>
                                                        </select>

                                                        <label>Mode</label>
                                                    </div>

                                                </div>
                                            </div>



                                            <!-- 
                                            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select class="input-field custom__input  w-100 req">
                                                            <option></option>
                                                        </select>

                                                        <label>Pricing Level</label>
                                                    </div>
                                                    <button class=" button__plus ms-1">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div> -->


                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="customer-details__container">
                                            <ul>
                                                <li>
                                                    <span>Name:</span>
                                                    <span id="ledgerName">
                                                        {{this.customerDetails?.ledgerName }}
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>Address:</span>
                                                    <span id="address">
                                                        {{this.customerDetails?.address}}
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>PAN:</span>
                                                    <span id="pan">
                                                        {{this.customerDetails?.pan }}

                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class=" col-lg-3">
                                        <div class="bill-total__container">
                                            <div class="row">

                                                <h6 style="text-align:center;">
                                                    <strong>Bill Total</strong>
                                                </h6>
                                                <div class="bill-total text-center">{{this.billSummary.netBillAmt}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sales__form-box pb-2">
                                <div class="row">
                                    <div class="col-md-7 col-lg-5">
                                        <div class="row">
                                            <div class=" col-sm-4 col-md-3 col-lg-3">
                                                <div class="custom__input-container">
                                                    <input [(ngModel)]="productCode" name="productCode" id="productCode"
                                                        type="text" class="form-control custom__input "
                                                        autocomplete="off" disabled>
                                                    <label>Product Code</label>

                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-5">

                                                <div class="custom__input-container">
                                                    <select id="productSelect"
                                                        class="input-field custom__input w-100 req"
                                                        data-placeholder="--Choose--">
                                                        <option value=""></option>
                                                        <option *ngFor="let item of productList"
                                                            [value]="item.productId">
                                                            {{ item.productName }}
                                                        </option>
                                                    </select>


                                                    <label>Product Name</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="custom__input-container">
                                                    <select id="batchSelect" class="input-field custom__input w-100 req"
                                                        data-placeholder="--Choose--">
                                                        <option value=""></option>
                                                        <!-- <option value="" disabled selected>Choose</option> -->
                                                        <option *ngFor="let item of batch" [value]="item.batch">
                                                            {{ item.batch }} [ {{ item.qty }} {{ item.skuunit }}]
                                                        </option>
                                                    </select>
                                                    <label>Batch</label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <select id="selecUnit" class="input-field custom__input w-100 req"
                                                        data-placeholder="--Choose--">
                                                        <option value=""></option>
                                                        <option *ngFor="let item of unit" [value]="item.fromUnitId">
                                                            {{ item.mainunit }}
                                                        </option>
                                                    </select>

                                                    <label>Unit</label>

                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input [(ngModel)]="rate" id="rate" type="text" name="rate" disabled
                                                        autocomplete="off" class="form-control custom__input">
                                                    <label>Rate</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-2">
                                                <div class="custom__input-container ">
                                                    <select [(ngModel)]="vat" name="vat" id="vat" disabled
                                                        class="input-field custom__input w-100 req"
                                                        data-placeholder="--Choose--">
                                                        <option *ngIf="vat == true" [ngValue]="true">Vatable</option>
                                                        <option *ngIf="vat == false" [ngValue]="false">Non-Vatable
                                                        </option>
                                                        <!-- <option value="Exclusive">Exclusive</option> -->
                                                    </select>

                                                    <label>Vat</label>
                                                </div>
                                            </div>


                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input id="qtyId" [(ngModel)]="qtyNum" name="qtyNum" type="number"
                                                        (input)="quantityChanged()" (keydown)="qtyValidation($event)"
                                                        class="form-control custom__input" autocomplete="off" min="0">
                                                    <label>Qty({{ qty }})</label>
                                                </div>
                                            </div>


                                            <!-- Discount % -->
                                            <div class="col-sm-4 col-md-4 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input type="number" [(ngModel)]="discountPercent"
                                                        name="discountPercent" (input)="percentChanged()"
                                                        class="form-control custom__input"
                                                        (keydown)="disValidation($event)" autocomplete="off" min="0"
                                                        max="100%">
                                                    <label>Dis.%</label>
                                                </div>
                                            </div>


                                            <!-- Discount Amount -->
                                            <div class="col-sm-4 col-md-3 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input type="number" [(ngModel)]="discountAmount"
                                                        name="discountAmount" (input)="amountChanged()"
                                                        class="form-control custom__input"
                                                        (keydown)="disValidation($event)" min="0" autocomplete="off">
                                                    <label>Dis Amt</label>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class=" col-sm-4 col-md-3 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-9">
                                                <div class="custom__input-container">
                                                    <input type="text" [(ngModel)]="netTotal" name="netTotal" id=""
                                                        required="" class="form-control custom__input"
                                                        autocomplete="off" readonly>
                                                    <label>Net Total</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div class="custom__input-container d-flex align-items-center">
                                                    <button (click)="fetchSalesData()" id="button"
                                                        class="button-sm button btn btn-success ms-1"
                                                        title="Insert Item">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>


                                                    <button class="button-sm btn btn-danger ms-1" title="Reset"
                                                        id="salesBtn_refresh" href="">
                                                        <i class="fa-solid fa-rotate-left"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="table__wrapper  table__wrapper-34 table_xxl-65 mt-3">
                            <table class="table table--pos">
                                <thead class="table__head">
                                    <tr>
                                        <th class="sales-main-table__sn">S.N.</th>

                                        <th class="sales-main-table__item">Product Name</th>
                                        <th class="sales-main-batch">Batch</th>
                                        <th class="sales-main-table__unit">Unit</th>
                                        <th class="sales-main-table__rate">Rate</th>
                                        <th class="sales-main-table__qty">Qty</th>


                                        <th class="sales-main-table__dis-amt">Dis Amt</th>
                                        <th class="sales-main-table__non-tax">Taxable</th>
                                        <th class="sales-main-table__non-tax">Non-Tax</th>
                                        <th class="sales-main-table__tax">Tax</th>
                                        <th class="sales-main-table__total">Net Amt</th>
                                        <th class="sales-main-table__action">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table__body" id="sales-main-table__body">
                                    <tr *ngFor="let item of salesDetails; let i = index;">
                                        <td>{{i + 1}}</td>
                                        <td>{{item?.productName}}</td>
                                        <td>{{item?.batch}}</td>
                                        <td>{{item?.symbol}}</td>
                                        <td>{{item?.rate}}</td>
                                        <td>{{item?.stockqty}}</td>
                                        <td>{{item?.itemDiscountAmt.toFixed(2)}}</td>
                                        <td>{{item?.taxableAmt.toFixed(2)}}</td>
                                        <td>{{item?.nonTaxableAmt.toFixed(2)}}</td>
                                        <td>{{item?.vatAmt.toFixed(2)}}</td>
                                        <td>{{item?.netAmt.toFixed(2)}}</td>
                                        <td>
                                            <button (click)="deleteItem(item.salesDetailsDraftID)"
                                                class="button-sm btn btn-danger ms-1"> <i
                                                    class="fa fa-trash"></i></button>

                                        </td>

                                    </tr>
                                </tbody>

                                <tfoot class="sales-main-table__foot ">
                                    <tr>
                                        <td></td>
                                        <td>Total</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td>{{this.billSummary.itemDiscount}}</td>
                                        <td>{{this.billSummary.taxableAmt}}</td>
                                        <td>{{this.billSummary.nonTaxableAmt}}</td>
                                        <td>{{this.billSummary.vatAmt}}</td>
                                        <td>{{this.billSummary.netBillAmt}}</td>
                                        <td></td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="sales__footer-container">

                            <div class="row">
                                <div class="col-12">
                                    <div class="sales__footer-box h-100">
                                        <div class="row">

                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select id="customerSelect"
                                                            class="input-field custom__input w-100 req"
                                                            data-placeholder="--Choose--">
                                                            <option value=""></option>
                                                            <option value="">Select Customer</option>
                                                            <option *ngFor="let item of customerList"
                                                                [value]="item.value">{{item.text}}</option>
                                                        </select>


                                                        <label>Customer</label>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class=" col-sm-3 col-md-3 col-lg-3">
                                                <div
                                                    class="custom__input-container d-flex align-items-center input-gap">
                                                    <div class="select-wrap">
                                                        <select id="discountOffer"
                                                            class="input-field custom__input  w-100 req"
                                                            data-placeholder="--Choose--" [disabled]="fieldDisabled">
                                                            <option value=""></option>
                                                            <option value="No">None</option>
                                                            <option value="No">5% Member Discount</option>
                                                            <option value="Yes">Rs50 off </option>
                                                        </select>

                                                        <label>Dis. Type/Scheme</label>
                                                    </div>
                                                    <button class=" btn btn-success button-sm mx-1">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>


                                            <div class="col-sm-3 col-md-2 col-lg-1">
                                                <div class="custom__input-container">
                                                    <input (input)="quantityChanged()" id="billDis" type="number"
                                                        (keydown)="disValidation($event)"
                                                        class="input-field custom__input  w-100 req" id=""
                                                        [disabled]="fieldDisabled">

                                                    <label>Bill Dis.%</label>

                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-2">
                                                <div class="custom__input-container">
                                                    <input (keydown)="disValidation($event)" id="billDisAmt"
                                                        type="number" class="form-control custom__input req"
                                                        autocomplete="off" value="" [disabled]="fieldDisabled">
                                                    <label>Bill Dis Amt</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-2 col-lg-1">
                                                <div class="custom__input-container">
                                                    <input (keydown)="disValidation($event)" id="" type="number"
                                                        class="form-control custom__input req" autocomplete="off"
                                                        value="" [disabled]="fieldDisabled">
                                                    <label>Bill Adj Amt</label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="sales__footer-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-5">
                                                <div style="border: 1px solid #ddd; padding: 4px;">
                                                    <div class="row">
                                                        <div class="col-sm-4 col-md-3 col-lg-6">


                                                            <div class="custom__input-container">
                                                                <select id="receivedLedger"
                                                                    class="input-field custom__input w-100 req received"
                                                                    data-placeholder="--Choose--"
                                                                    [disabled]="fieldDisabled">

                                                                    <option value="">Choose</option>

                                                                    <option *ngFor="let item of recievedLedgerList"
                                                                        [value]="item.value">
                                                                        {{ item.text }}
                                                                    </option>

                                                                </select>

                                                                <!-- <select id="receivedLedger"
                                                                    class="input-field custom__input w-100 req received"
                                                                    data-placeholder="--Choose--"
                                                                    [disabled]="fieldDisabled">

                                                                    <option value="">Choose</option>
                                                                    <option value="Cash">Cash</option>
                                                                    <option value="Bank">Bank</option>


                                                                </select> -->


                                                                <label>Received Ledger</label>

                                                            </div>

                                                        </div>
                                                        <div class="col-sm-4 col-md-3 col-lg-6">
                                                            <div
                                                                class="custom__input-container d-flex align-items-center input-gap">
                                                                <div class="select-wrap">
                                                                    <input name="netBill" [(ngModel)]="this.NetBillAmt"
                                                                        (click)="netBill()" id="netBillAmtInput"
                                                                        type="number"
                                                                        class="input-field custom__input  w-100 req">

                                                                    <label>Amount</label>
                                                                </div>
                                                                <button (click)="InsertSalesTransaction()"
                                                                    class="receivedLedgerbtn btn btn-success button-sm ms-1">
                                                                    <i class="fa-solid fa-plus"></i>
                                                                </button>
                                                                <button (click)="receivedLedgerPopup()"
                                                                    class=" btn btn-success button-sm mx-1">
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </button>
                                                            </div>



                                                        </div>
                                                    </div>
                                                    <table class="table__container mt-3" style="width: 100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>Ledger (Received)</th>
                                                                <th>Amount</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of ledgerTableList">
                                                                <td>{{item.receivedLedger}}</td>
                                                                <td>{{item.RecievedLedgerAmount}}</td>
                                                                <td>
                                                                    <button  (click)="removeTableItem(item.receivedLedgerId)" class="button-sm btn btn-danger ms-1">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>


                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-7">
                                                <div style="border: 1px solid #ddd; padding: 4px;">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="custom__input-container">
                                                                <textarea id="" type="text" rows="1"
                                                                    class="form-control custom__input "
                                                                    autocomplete="off" [disabled]="fieldDisabled">
                                                             </textarea>
                                                                <label>Narration</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 col-md-2 col-lg-2">
                                                            <div class="custom__input-container">
                                                                <input id="" type="number"
                                                                    class="form-control custom__input "
                                                                    autocomplete="off" [disabled]="fieldDisabled">
                                                                <label>Tender</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 col-md-2 col-lg-2">
                                                            <div class="custom__input-container">
                                                                <input id="" type="number"
                                                                    class="form-control custom__input "
                                                                    [disabled]="fieldDisabled">
                                                                <label>Change</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5 col-md-4 d-flex align-items-center">
                                                            <div class=" col-sm-6">

                                                                <div class="btn-container">

                                                                    <button id="btn_saveDraft" type="button"
                                                                        class="btn btn-sm btn-success button-edit"
                                                                        title="Save As Draft" disabled>
                                                                        <i class="fa-regular fa-bookmark"></i>
                                                                    </button>
                                                                    <button id="salesSaveBtn" type="button"
                                                                        class="btn  btn-sm btn-success button-edit"
                                                                        title="Save" disabled>
                                                                        <i class="fa-solid fa-floppy-disk"></i>
                                                                    </button>
                                                                    <a class="btn  btn-sm btn-danger button-style-fix"
                                                                        title="Refresh" id="refreshPage" href="">
                                                                        <i class="fa-solid fa-rotate-left"></i></a>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-2">
                        <div class="sales-summary__bottom py-1 px-1">
                            <h6>Bill Summary</h6>
                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">GrossAmount:</label>
                                <input [(ngModel)]="this.billSummary.GrossAmt" name="GrossAmt" type="text" id=""
                                    class="summary-display__box w-50" disabled>

                            </div>
                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Item Dis:</label>
                                <input [(ngModel)]="this.billSummary.itemDiscount" name="itemDiscount" type="text" id=""
                                    class="summary-display__box w-50" disabled>
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Bill Dis:</label>
                                <input [(ngModel)]="this.billSummary.billDiscountAmt" name="billDiscountAmt" type="text"
                                    id="" class="summary-display__box w-50" disabled>
                            </div>


                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Total addition Inc:</label>
                                <input [(ngModel)]="this.billSummary.additionalIncomeAmt" name="additionalIncomeAmt"
                                    type="text" id="" class="summary-display__box w-50" disabled>
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Non Taxable Amt:</label>
                                <input [(ngModel)]="this.billSummary.nonTaxableAmt" name="nonTaxableAmt" type="text"
                                    id="" class="summary-display__box w-50" disabled>
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Taxable Amt:</label>
                                <input [(ngModel)]="this.billSummary.taxableAmt" name="taxableAmt" type="text" id=""
                                    class="summary-display__box w-50" disabled>
                            </div>

                            <div class="d-flex align-items-center">
                                <label class="p-1 w-50">Tax/Vat Amt:</label>
                                <input [(ngModel)]="this.billSummary.vatAmt" name="vatAmt" type="text" id=""
                                    class="summary-display__box w-50" disabled>
                            </div>


                            <h4 class="heading__box mt-1">Transaction Summary</h4>
                            <div class="table__container" id="" style="max-height: 28vh!important; margin-top: 5px;">
                                <table class="table" style="overflow-y:scroll;">
                                    <thead>
                                        <tr>
                                            <th style="width:55%;">Ledger</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of salesTransactionList">
                                            <td>{{ item.ledgerName }}</td>
                                            <td>
                                                <span *ngIf="item.drCr == 'Cr'">
                                                    {{ item.crAmt | number:'1.2-2' }} Cr
                                                </span>

                                                <span *ngIf="item.drCr == 'Dr'">
                                                    {{ item.drAmt | number:'1.2-2' }} Dr
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!--  Popup -->
<div [hidden]="!IscustomerPopup">
    <div class="customPopupContainer" (click)="closecustomerPopup()">
        <div (click)="$event.stopPropagation()" class="customPopup customPopup-md-hgt-60 customPopup-md-50"
            [ngClass]="modalAnimationClass">
            <div class="customPopupHeader"><span>Customer Details</span>
                <span class="closeIcon" (click)="closecustomerPopup()">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>
            <div class="modal-body p-4">

                <div class="row">
                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.customer" name="customer" id=""
                                type="text" class="form-control custom__input" autocomplete="off" disabled>
                            <label>Customer</label>
                        </div>
                    </div>
                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.mailingName" name="mailingName" id=""
                                type="text" class="form-control custom__input" autocomplete="off" disabled>
                            <label>Mailing Name</label>
                        </div>
                    </div>

                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.address" name="address" id=""
                                type="text" class="form-control custom__input" autocomplete="off" disabled>
                            <label>Address</label>
                        </div>
                    </div>

                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.email" name="email" id="" type="text"
                                class="form-control custom__input" autocomplete="off" disabled>
                            <label>Email</label>
                        </div>
                    </div>

                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.pan" name="pan" id="" type="text"
                                class="form-control custom__input" autocomplete="off" disabled>
                            <label>PAN</label>
                        </div>
                    </div>



                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.creditPeriod" name="creditPeriod"
                                type="text" class="form-control custom__input" autocomplete="off"
                                [disabled]="IsCdisabled" />

                            <label>Credit period(In Days)</label>
                        </div>
                    </div>

                    <h6 class="page-title mt-4">Dispatch Details</h6>

                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="recieptMode" name="recieptMode" id="recieptMode" type="text"
                                class="form-control custom__input" autocomplete="off">
                            <label>Reciept Mode </label>
                        </div>
                    </div>

                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.date" name="date" id="" type="date"
                                class="form-control custom__input" autocomplete="off">
                            <label>Dispatched Date</label>
                        </div>
                    </div>
                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.dispatched" name="dispatched" id=""
                                type="text" class="form-control custom__input" autocomplete="off">
                            <label>Dispatched Through </label>
                        </div>
                    </div>


                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.Destination" name="Destination" id=""
                                type="text" class="form-control custom__input" autocomplete="off">
                            <label>Destination </label>
                        </div>
                    </div>


                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.carrierName" name="carrierName" id=""
                                type="text" class="form-control custom__input" autocomplete="off">
                            <label>Carrier Name/ Agent </label>
                        </div>
                    </div>


                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.vehicleNo" name="vehicleNo" id=""
                                type="text" class="form-control custom__input" autocomplete="off">
                            <label>Vehicle No. </label>
                        </div>
                    </div>



                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.challanNo" name="challanNo" id=""
                                type="text" class="form-control custom__input" autocomplete="off">
                            <label>S.O. / Challan No</label>
                        </div>
                    </div>

                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <input [(ngModel)]="this.service.customerDetailModel.RRNo" name="RRNo" id="" type="text"
                                class="form-control custom__input" autocomplete="off">
                            <label>LR - RRNo</label>
                        </div>
                    </div>

                    <div class=" col-sm-4 col-md-4 col-lg-4">
                        <div class="custom__input-container">
                            <textarea [(ngModel)]="this.service.customerDetailModel.Remarks" name="Remarks" id=""
                                class="form-control custom__input" autocomplete="off"></textarea>
                            <label>Remarks</label>
                        </div>
                    </div>
                    <div class="btn-outer d-flex  justify-content-end mt-4">
                        <div class=" d-flex  gap-2 align-items-center">
                            <strong>(Press Ctrl + A to save) </strong>
                            <button (click)="InsertSalesInfo()" class="button--medium button btn btn-success ms-1">
                                <i class="fa-regular fa-save"></i> Save
                            </button>

                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<!-- POS Calculator Popup -->
<div [hidden]="!IsCalculatorPopup">
    <div class="customPopupContainer" (click)="closeCalculatorPopup()">
        <div (click)="$event.stopPropagation()" class="calc-box">

            <!-- Display -->
            <div class="calc-display">
                {{ display }}
            </div>

            <!-- ======= HISTORY BUTTONS ROW (MATCHED STYLE) ======= -->
            <div class="calc-row">
                <button class="btn-func" (click)="toggleHistory()">HIS</button>
                <button class="btn-func" (click)="clearHistory()">CLR HIS</button>
            </div>
            <div [hidden]="isNumShow">
                <!-- Top Buttons -->
                <div class="calc-row">
                    <button class="btn-off" (click)="closeCalculatorPopup()">OFF</button>
                    <button class="btn-func" (click)="percentage()">%</button>
                    <button class="btn-func" (click)="del()">DEL</button>
                    <button class="btn-ac" (click)="clear()">AC</button>
                </div>


                <!-- Number + Operators Grid -->
                <div class="calc-row">
                    <button (click)="press('7')">7</button>
                    <button (click)="press('8')">8</button>
                    <button (click)="press('9')">9</button>
                    <button class="btn-op" (click)="press('+')">+</button>
                </div>

                <div class="calc-row">
                    <button (click)="press('4')">4</button>
                    <button (click)="press('5')">5</button>
                    <button (click)="press('6')">6</button>
                    <button class="btn-op" (click)="press('-')">-</button>
                </div>

                <div class="calc-row">
                    <button (click)="press('3')">3</button>
                    <button (click)="press('2')">2</button>
                    <button (click)="press('1')">1</button>
                    <button class="btn-op" (click)="press('*')">*</button>
                </div>

                <div class="calc-row">
                    <button (click)="press('0')">0</button>
                    <button (click)="press('.')">.</button>
                    <button class="btn-equal" (click)="calculate()">=</button>
                    <button class="btn-op" (click)="press('/')">/</button>
                </div>

            </div>

            <!-- ======= HISTORY BOX (SLIDES BELOW CALCULATOR) ======= -->
            <div class="history-panel" *ngIf="showHistory">
                <div class="history-item" *ngFor="let h of history">
                    {{ h }}
                </div>
            </div>

        </div>
    </div>
</div>



<div [hidden]="!isCashTransactionPop">
    <div class="customPopupContainer" (click)="closeCashTransactionPop()">
        <div (click)="$event.stopPropagation()" class="customPopup customPopup-md-hgt-40 customPopup-md-30"
            [ngClass]="cashTransactionAnimation">

            <div class="customPopupHeader">
                <span>Cash Transaction Summary</span>
                <span class="closeIcon" (click)="closeCashTransactionPop()">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>

            <div class="modal-body p-4">
                <div class="transaction-content">
                    <table class="transaction-content-tbl">
                        <thead>
                            <tr>
                                <th style="width: 120px;">Initial Amount</th>
                                <td>:</td>
                                <td>Rs20,000</td>
                            </tr>

                            <tr>
                                <th>Cash</th>
                                <td>:</td>
                                <td>Rs15,000</td>
                            </tr>
                            <tr>
                                <th>Credit</th>
                                <td>:</td>
                                <td>Rs20,000</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>:</td>
                                <td>Rs 55,000</td>
                            </tr>

                        </thead>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<div [hidden]="!isreceivedLedger">
    <div class="customPopupContainer" (click)="closeReceivedLedgerPopup()">
        <div (click)="$event.stopPropagation()" class="customPopup customPopup-md-hgt-40 customPopup-md-30"
            [ngClass]="receivedLedgerAnimation">

            <div class="customPopupHeader">
                <span>Ledger Received</span>
                <span class="closeIcon" (click)="closeReceivedLedgerPopup()">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>

            <div class="modal-body p-4">
                <div class="received-ledger-content">
                    <table class="received-ledger-content-tbl" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Ledger (Received)</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>