.headingBar {
  border: none;
  background-color: $color-blue-500;
  min-width: 100%;
  padding: 2px 0 2px 1rem;
  text-align: left;
  color: $color-white-100;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.page-title {
  background: #137b95;
  padding: 5px;
  color: #fff;
  font-size: 14px;
}