table {
  font-size: 12px;
}


.table {
  font-size: 12px;
  width: 100%;

  &__wrapper {
    position: relative;
    // z-index: -1;
    overflow-y: scroll;
    height: 55vh;
    max-height: 55vh;
    width: 100%;
    scroll-behavior: smooth;
  }

  &__head {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    th {
      background-color: $primary-500 !important;
      color: $color-white-100 !important;
      letter-spacing: 0.5px;
      font-size: 11px;
      font-weight: 500;
      text-align: center;
      vertical-align: middle;
    }

    th:not(last-child) {
      border-right: 1px solid $th-border;
    }
  }

  &__body {
    td {
      font-size: 11px;
      vertical-align: middle;
      white-space: nowrap;
      max-width: 16rem;
      overflow: hidden;
      padding: 0 1rem;
      text-overflow: ellipsis;
      background-color: $color-white-100;

    }

    // td:hover {
    //   max-width: fit-content;
    // }

    tr:nth-child(odd) td {
      background-color: $color-white-100;
    }

    tr:nth-child(even) td {
      background-color: $color-gray-99;
    }

    td:last-child {
      text-align: center;
      // display: flex;
      // justify-content: center;
      // width:max-content;

    }
  }


}

.td-content {
  max-width: 10rem !important;
  padding-left: 1px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}



.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #137b95 !important;
  color: white;
}


.multiselect-dropdown[_ngcontent-ng-c1411523848] .dropdown-btn[_ngcontent-ng-c1411523848] .selected-item-container[_ngcontent-ng-c1411523848] .selected-item[_ngcontent-ng-c1411523848] {
  border: 1px solid $color-blue-500 !important;
  margin-right: 4px;
  background: $color-blue-500 !important;
}

.multiselect-item-checkbox[_ngcontent-ng-c1411523848] input[type=checkbox]+div[_ngcontent-ng-c1411523848]:before {
  border: 2px solid $color-blue-500 !important;
}

.multiselect-item-checkbox[_ngcontent-ng-c1411523848] input[type=checkbox][_ngcontent-ng-c1411523848]:checked+div:before {
  background: $color-blue-500 !important;
}

.mat-mdc-text-field-wrapper {
  height: 40px !important;
}

.mdc-text-field--outlined {
  height: 30px !important;
}

.mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 3px !important;
  padding-bottom: 0;
}

#sidebar-menus .mat-expansion-panel-spacing {
  margin: 0;
}


.table__wrapper img {
  object-fit: contain;
}




// table__wrapper height start for normal desktop


.table__wrapper-21 {
  max-height: 21vh;
  height: 21vh;
}


.table__wrapper-110 {
  max-height: 110px;
  height: 110px;
}

.table__wrapper-130 {
  max-height: 130px;
  max-width: 300px;
}

.table__wrapper-147 {
  max-height: 147px;
  height: 147px;
}

.table__wrapper-250 {
  max-height: 250px;
}

.table__wrapper-265 {
  max-height: 265px;
}

.table__wrapper-275 {
  max-height: 275px;
}

.table__wrapper-273 {
  max-height: 273px;

}

.table__wrapper-300 {
  max-height: 300px;
}

.table__wrapper-330 {
  max-height: 330px;
}

.table__wrapper-350 {
  max-height: 350px;
}

.table__wrapper-375 {
  max-height: 375px;
}

.table__wrapper-345 {
  height: 345px
}

.table__wrapper-380 {
  max-height: 380px;
}

.table__wrapper-400 {
  max-height: 400px;
}

.table__wrapper--a {
  height: 170px;
}

.table__wrapper-150 {
  height: 150px;
}

.table__wrapper-12 {
  max-height: 12.5rem;
  height: 12.5rem;
}

.table__wrapper-13 {
  max-height: 13rem;
  height: 13rem;
}

.table__wrapper-22 {
  max-height: 22rem;
  height: 22rem;
}


.table__wrapper-23 {
  max-height: 23rem;
  height: 23rem;
}


.table__wrapper-24 {
  max-height: 24rem;
  height: 24rem;
}


.table__wrapper-25 {
  max-height: 25rem;
  height: 25rem;
}

.table__wrapper-26 {
  max-height: 26rem;
  height: 26rem;
}

.table__wrapper-27 {
  max-height: 27rem;
  height: 27rem;
}

.table__wrapper-28 {
  max-height: 28rem;
  height: 28rem;
}

.table__wrapper-29 {
  max-height: 29rem;
  height: 29rem;
}



.table__wrapper-30 {
  max-height: 30vh;
  height: 30vh;
}


.table__wrapper-31 {
  max-height: 31vh;
  height: 31vh;
}

.table__wrapper-32 {
  max-height: 32vh;
  height: 32vh;
}

.table__wrapper-33 {
  max-height: 33vh;
  height: 33vh;
}

.table__wrapper-34 {
  max-height: 34vh;
  height: 34vh;
}


.table__wrapper-35 {
  max-height: 35vh;
  height: 35vh;

}

.table__wrapper-36 {
  max-height: 36vh;
  height: 36vh;
}


.table__wrapper-37 {
  max-height: 37vh;
  height: 37vh;
}


.table__wrapper-38 {
  max-height: 38rem;
  max-width: 25.5rem;
}


.table__wrapper-39 {
  height: 39vh;
  max-height: 39vh;
}


.table__wrapper-40 {
  max-height: 40vh;
  height: 40vh;
}


.table__wrapper-41 {
  max-height: 41vh;
  height: 41vh;
}


.table__wrapper-42 {
  max-height: 42vh;
  height: 42vh;
}


.table__wrapper-43 {
  max-height: 43vh;
  height: 43vh;
}


.table__wrapper-44 {
  max-height: 44vh;
  height: 44vh;
}


.table__wrapper-45 {
  max-height: 45vh;
  height: 45vh;
}


.table__wrapper-46 {
  max-height: 46vh;
  height: 46vh;
}


.table__wrapper-47 {
  max-height: 47vh;
  height: 47vh;
}


.table__wrapper-48 {
  max-height: 48vh;
  height: 48vh;
}

.table__wrapper-49 {
  max-height: 49vh;
  height: 49vh;
}


.table__wrapper-50 {
  max-height: 50vh;
  height: 50vh;
}


.table__wrapper-51 {
  max-height: 51vh;
  height: 51vh;
}


.table__wrapper-52 {
  max-height: 52vh;
  height: 52vh;
}

.table__wrapper-53 {
  max-height: 53vh;
  height: 53vh;
}



.table__wrapper-54 {
  max-height: 54vh;
  height: 54vh;
}


.table__wrapper-55 {
  max-height: 55vh;
  height: 55vh;
}


.table__wrapper-56 {
  max-height: 56vh;
  height: 56vh;
}

.table__wrapper-57 {
  max-height: 57vh;
  height: 57vh;
}


.table__wrapper-58 {
  max-height: 58vh;
  height: 58vh;
}


.table__wrapper-59 {
  max-height: 58vh;
  height: 58vh;
}

.table__wrapper-60 {
  max-height: 60vh;
  height: 60vh;
}

.table__wrapper-61 {
  height: 61vh;
  max-height: 61vh;
}

.table__wrapper-62 {
  height: 61vh;
  max-height: 61vh;
}

.table__wrapper-63 {
  height: 63vh;
  max-height: 63vh;
}


.table__wrapper-64 {
  height: 64vh;
  max-height: 64vh;
}



.table__wrapper-65 {
  max-height: 65vh;
  height: 65vh;
}

.table__wrapper-66 {
  max-height: 66vh;
  height: 66vh;
}


.table__wrapper-67 {
  max-height: 67vh;
  height: 67vh;
}


.table__wrapper-68 {
  max-height: 68vh;
  height: 68vh;
}

.table__wrapper-69 {
  max-height: 69vh;
  height: 69vh;
}


.table__wrapper-70 {
  max-height: 70vh;
  height: 70vh;
}


.table__wrapper-71 {
  max-height: 71vh;
  height: 71vh;
}


.table__wrappersingleline-72 {
  height: 72vh;
  max-height: 72vh;
}

.table__wrapper-74 {
  height: 74vh;
  max-height: 74vh;
}


/*large desktop for greater than 1400px*/

@media (min-width: 1400px) {

  .table_xxl-21 {
    max-height: 21vh;
    height: 21vh;
  }

  .table__wrapper--a {
    height: 460px;
    max-height: 460px;
  }

  .table__userfieldopen1-xxl {
    height: 420px;
    max-height: 420px;
  }


  /*main  table height css start*/



  .table_xxl-30 {
    height: 30vh;
    max-height: 30vh;
  }


  .table_xxl-31 {
    height: 31vh;
    max-height: 31vh;
  }


  .table_xxl-32 {
    height: 32vh;
    max-height: 32vh;
  }


  .table_xxl-33 {
    height: 33vh;
    max-height: 33vh;
  }

  .table_xxl-34 {
    height: 34vh;
    max-height: 34vh;
  }


  .table_xxl-35 {
    height: 35vh;
    max-height: 35vh;
  }


  .table_xxl-36 {
    height: 36vh;
    max-height: 36vh;
  }


  .table_xxl-37 {
    height: 37vh;
    max-height: 37vh;
  }


  .table_xxl-38 {
    height: 38vh;
    max-height: 38vh;
  }


  .table_xxl-39 {
    height: 39vh;
    max-height: 39vh;
  }

  .table_xxl-40 {
    height: 40vh;
    max-height: 40vh;
  }

  .table_xxl-41 {
    height: 41vh;
    max-height: 41vh;
  }

  .table_xxl-42 {
    height: 42vh;
    max-height: 42vh;
  }

  .table_xxl-43 {
    height: 43vh;
    max-height: 43vh;
  }

  .table_xxl-44 {
    height: 44vh;
    max-height: 44vh;
  }

  .table_xxl-45 {
    height: 45vh;
    max-height: 45vh;
  }


  .table_xxl-46 {
    height: 46vh;
    max-height: 46vh;
  }



  .table_xxl-47 {
    height: 47vh;
    max-height: 47vh;
  }


  .table_xxl-48 {
    height: 48vh;
    max-height: 48vh;
  }


  .table_xxl-49 {
    height: 49vh;
    max-height: 49vh;
  }


  .table_xxl-50 {
    height: 50vh;
    max-height: 50vh;
  }


  .table_xxl-51 {
    height: 51vh;
    max-height: 51vh;
  }


  .table_xxl-52 {
    height: 52vh;
    max-height: 52vh;
  }

  .table_xxl-53 {
    height: 53vh;
    max-height: 53vh;
  }

  .table_xxl-54 {
    height: 54vh;
    max-height: 54vh;
  }

  .table_xxl-55 {
    height: 55vh;
    max-height: 55vh;
  }

  .table_xxl-56 {
    height: 56vh;
    max-height: 56vh;
  }


  .table_xxl-57 {
    height: 57vh;
    max-height: 57vh;
  }

  .table_xxl-58 {
    height: 58vh;
    max-height: 58vh;
  }

  .table_xxl-59 {
    height: 59vh;
    max-height: 59vh;
  }

  .table_xxl-60 {
    height: 60vh;
    max-height: 60vh;
  }

  .table_xxl-61 {
    height: 61vh;
    max-height: 61vh;
  }


  .table_xxl-62 {
    height: 62vh;
    max-height: 62vh;
  }


  .table_xxl-63 {
    height: 63vh;
    max-height: 63vh;
  }


  .table_xxl-64 {
    height: 64vh;
    max-height: 64vh;
  }

  .table_xxl-65 {
    height: 65vh;
    max-height: 65vh;
  }

  .table_xxl-66 {
    height: 66vh;
    max-height: 66vh;
  }

  .table_xxl-67 {
    height: 67vh;
    max-height: 67vh;
  }

  .table_xxl-68 {
    height: 68vh;
    max-height: 68vh;
  }

  .table_xxl-69 {
    height: 69vh;
    max-height: 69vh;
  }

  .table_xxl-70 {
    height: 70vh;
    max-height: 70vh;
  }

  .table_xxl-71 {
    height: 71vh;
    max-height: 71vh;
  }

  .table_xxl-72 {
    height: 72vh;
    max-height: 72vh;
  }

  .table_xxl-73 {
    height: 73vh;
    max-height: 73vh;
  }


  .table_xxl-74 {
    height: 74vh;
    max-height: 74vh;
  }

  .table_xxl-75 {
    height: 75vh;
    max-height: 75vh;
  }


  .table_xxl-76 {
    height: 76vh;
    max-height: 76vh;
  }

  .table_xxl-77 {
    height: 77vh;
    max-height: 77vh;
  }


  .table_xxl-78 {
    height: 78vh;
    max-height: 78vh;
  }


  .table_xxl-79 {
    height: 79vh;
    max-height: 79vh;
  }


  .table_xxl-80 {
    height: 80vh;
    max-height: 80vh;
  }


}

// table__wrapper height end


.table-wrap table td {
  vertical-align: middle;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .table__wrapper {
    height: 200px !important;
  }
}