.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #f68932;
  box-shadow: 30px 0 0 $color-blue-500;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: $color-blue-500;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8)
  }

  50% {
    transform: rotate(360deg) scale(1.2)
  }

  100% {
    transform: rotate(720deg) scale(0.8)
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 $color-blue-500;
  }

  50% {
    box-shadow: 0 0 0 $color-blue-500;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 $color-blue-500;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #f68932;
  }

  50% {
    box-shadow: 0 0 0 #f68932;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #f68932;
    margin-top: 0;
  }
}



.loaderContainer {
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999999999999999999999999;
}


.loadingContainer {
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999999999999999999999999;
  cursor: wait;
}

.part {
  width: 250px;
  position: absolute;
}

.svgpath {
  fill: rgba(145,220,90,0);
  stroke: $color-blue-400;
  stroke-width: 1.5px;
  stroke-dasharray: 1000;
  stroke-linecap: round;
  z-index: 2;
}

.svgbg {
  fill:  rgba(0, 0, 0, .1);
  z-index: 1;
 }

#playload {
  animation: dash 2.5s reverse ease-in-out infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}